html, body{
    background-color: rgb(25, 25, 29);
    position: relative;
    margin: auto;
    user-select: none;
    width: 100%;
    height: 2000px;
    overflow: hidden;
    user-select: none;
}#menu_bar{
            max-width: 1500px;
            width: 100%;
            height: 65px;
            top: 0;
            position: fixed;
            z-index: 1000;
            display: flex;
            align-items: center; 
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: .3s ease-in-out;
        }
        #menu_bar:hover{
            opacity: 1;
        }
        #border{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
            transition: .2s ease-in-out;
        }
        #border.animate{
            width: 80%;
            transition: 3.5s ease-in-out;
        }   
        #menu_bar:hover #border{
            width: 80%;
            transition: 2.5s ease-in-out;
        }
        #menu_func{
            width: 180px;
            height: 70px;
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transition: all 0.5s ease-in-out;
        }
        #menu_text{
            width: 80%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            color: white;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            min-width: 750px;
            min-height: 70px;
        }
        #menu_logo{
            width: 400px;
            height: 100%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            position: relative;
            color: white;
            font-size: 30px;
            font-weight: 500;
        }
        .label-check {
            display: none;
        }
        .hamburger-label {
            width: 60px;
            height: 30px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            justify-content: center;
            align-items: center;
        }
        .hamburger-label div {
            width: 40px;
            height: 2px;
            scale: 1;
            position: absolute;
            z-index: 2;
            background-color: #fff;
            transition: .3s ease-in-out;
        }
        .line2 {
            margin: 20px 0 0 20px;
        }
        #label-check:checked + .hamburger-label .line1 {
            transform: translate(10px, -5px) scale(1.01);
            position: absolute;
            transition: .5s ease-in-out;
        }
        #label-check:checked + .hamburger-label .line2 {
            transform: translate(-10px, 5px) scale(1.01);
            position: absolute;
            transition: .5s ease-in-out;
        }
        #menu_op{
            position: fixed;
            top: 100px;
            transition: .5s ease-in-out;
            width: 300px;
            height: 0px;
            background-color: rgba(255, 255, 355, 0.1);
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            transform: translateX(20%);
        }
        #menu_op *{
            color: white;
        }
        #menu_op.open{
            height: 600px;
            transform: translateX(-30%);
            opacity: 1;
            visibility: visible;
            transition: .5s ease-in-out;
            box-shadow: -5px -5px 25px rgba(221, 221, 221, 0.5), 5px 5px 25px black;
            position: fixed;
        }
        .menu-op-section{
            width: 200px;
            height: 30px;
            position: relative;
            left: 20px;
            border-bottom: 1px solid rgb(210, 210, 210);
            list-style-type: none;
        }




















#head{
    position: relative;
    width: 100%;
    height: 800px;
    margin: auto;
    display: grid;
    max-width: 1500px;
    max-height: 1600px;
    background-color: rgb(29, 28, 38);
    overflow: hidden;
}
#lxr{
    text-align: center;
    width: 40%;
    bottom: 48%;
    height: 80px;
    color: white;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    z-index: 2;
    opacity: 0;
    transition: 1.3s ease-in-out;
}
#head h2{
    width: 70%;
    bottom: 65%;
    height: 80px;
    min-height: 80px;
    min-width: 1000px;
    color: white;
    font-size: 60px;
    font-family: 'Cormorant Garamond', serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(120%);
    z-index: 2;
    opacity: 0;
    transition: 1s ease-in-out;
    text-align: center;
}
.flower-container{
  position: relative;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 400px;
  top: 68%;
  margin: auto;
  scale: 0.3;
  transition: 1.6s ease-in-out;
  z-index: 2;
}
.petal{
  position: absolute;
  width: 420px;
  height: 400px;
  background: rgb(18, 18, 18);
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transform-origin: center center;
  transform: rotate(calc(var(--i) * 72deg)) translate(250px);
  animation: orbit 30s linear infinite;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.petal img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    filter: brightness(100%);
    transform: rotate(180deg);
    border-radius: 30px;
}

#menu_filter{
    position: fixed;
    top: 100px;
    transition: .5s ease-in-out;
    width: 300px;
    height: 600px;
    background-color: rgba(255, 255, 355, 0.1);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateX(20%);
}
#menu_filter.open{
    transform: translateX(-30%);
    opacity: 1;
    visibility: visible;
}
#filter{
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    display: grid;
    justify-content: center;
}
#filter.open{
    opacity: 1;
    visibility: visible;
}
#Search{
    position: relative;
    top: 20%;
    width: 100%;
    height: 80px;
    color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    backdrop-filter: blur(2px);
    border: 1px solid black;
    padding-bottom: 10px;
    border-radius: 10px;
}
#Search-input{
    width: 270px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.44);
    background-color: rgba(255, 255, 255, 0.1);
}
#house-type{
    width: 280px;
    height: 60px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    margin: auto;
    gap: 30px;
    top: 20%;
}
#type-select{
    width: 100px;
    height: 20px;
    left: 29%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(206, 206, 206);
    padding-left: 18%;
}
#type-container{
    width: 90px;
    height: 0;
    display: grid;
    backdrop-filter: blur(2px);
    border: 1px solid black;
    position: fixed;
    left: 60%;
    top: 25%;
    z-index: 100;
    opacity: 0;
    transition: .3s ease-in-out;
    visibility: hidden;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
}
#type-container div{
    width: 85px;
    border-bottom: 1px solid rgba(18, 18, 18, 0.195);
    display: flex;
    align-items: center;
    color: white;
    justify-content: start;
}
#type-icon{
    position: relative;
    left: 10%;
    transition: .3s ease-in-out;
}
#price-container{
    padding-top: 20px;
    backdrop-filter: blur(2px);
    border: 1px solid black;
    width: 280px;
    height: 150px;
    display: grid;
    align-items: center;
    border-radius: 10px;
}
#price-input{
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    margin: auto;
    gap: 22px;
}
#min{
    width: 100px;
    height: 27px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.44);
}
#max{
    width: 100px;
    height: 27px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.44);
}
#price-display{
    width: 90%;
    height: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 100px;
    bottom: 20px;
    border: 1px solid black;
    font-size: 13px;
    border-radius: 5px;
}
#price-display p{
    width: 40px;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#max-display{
    left: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#price-reset{
    width: 90%;
    height: 40px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#p-reset{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    color: black;
    border: none;
}
#p-reset:hover{
    background-color: black;
    color: white;
}
#p-confirm{
    width: 130px;
    height: 30px;
    background-color: black;
    border-radius: 20px;
    color: white;
    border: none;
}
#p-confirm:hover{
    background-color: white;
    color: black;
}








#rcm{
    left: 50%;
    translate: -50% -100%; 
    position: absolute;
    color: white;
    opacity: 0;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    transition: 1s ease-in-out;
}
#result{
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.house{
    padding-left: 77px;
    padding-right: 77px;
    position: absolute;
    width: 350px;
    height: 450px;
    filter: blur(1px) brightness(80%);
    transition: .5s ease-out;
}
.house img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.house h3{
    transition: .4s ease-in-out;
    opacity: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(134, 134, 134);
}
.house h4{
    opacity: 0;
    position: relative;
}
.house p{
    display: none;
}
.house button{
    visibility: hidden;
    position: relative;
    bottom: 40px;
    color: white;
    border: none;
    background-color: transparent;
}
.house.show h3{
    transition: .4s ease-in-out;
    opacity: 1;
}
.house.show h4{
    color: white;
    opacity: 1;
    position: absolute;
    left: 70%;
    bottom: -58px;
}
.house.show button{
    visibility: visible;
}
.house.show button:hover{
    transition: .4s ease-in-out;
    color: black;
    background-color: white;
    opacity: 0.8;
}
#type-container.open{
    height: 60px;
    transition: .3s ease-in-out;
    opacity: 1;
    visibility: visible;
}






#footer{
            padding-top: 100px;
            display: flex;
            width: 100%;
            height: 800px;
            max-width: 1500px;
            max-height: 1000px;
            background-color: rgb(10, 10, 22);
            position: relative;
            margin: auto;
            color: white;
            gap: 50px;
        }
        .footer-info{
            padding-left: 2px;
        }
        .footer-info p{
            font-weight: 400;
            color: gray;
            cursor: pointer;
        }
        .footer-info p:hover{
            text-decoration: underline;
        }








#rcm.show{
    opacity: 1;
    translate: -50% 110%;
    transition: 1s ease-in-out;
}
.flower-container.show{
    transition: 1.6s ease-in-out;
    scale: 1;
}
#lxr.show{
    opacity: 1;
    transition: 1.5s ease-in-out;
    transform: translateX(-50%) translateY(0);
}
#head h2.show{
    opacity: 1;
    transition: 1.5s ease-in-out;
    transform: translateX(-50%) translateY(0);
}
#show{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 1s ease-in-out;
    z-index: 1000;
}
#show.show{
    translate: 0 -200%;
    transition: 1s ease-in-out;
}
#eff1{
    top: 15%;
    left: 50%;
    transform: translateX(-50%) rotate(10deg);
    position: absolute;
    width: 800px;
    height: 300px;
    background-color: rgba(36, 207, 207, 0.696);
    filter: blur(100px);
    scale: 0.5;
    transition: 1.5s ease-in-out;
}
#eff2{
    top: 6%;
    left: 60%;
    transform: rotate(40deg);
    position: absolute;
    width: 800px;
    height: 300px;
    background-color: rgba(36, 207, 207, 0.696);
    filter: blur(200px);
    scale: 0.15;
    transition: 1.5s ease-in-out;
    border-radius: 50px;
    display: flex;
    justify-content: center;

}
#eff1.show{
    transition: 1.5s ease-in-out;
    scale: 1;
}
#eff2.show{
    scale: 0.35;
    transition: 1.7s ease-in-out;
}





@keyframes orbit {
  from {
    transform: rotate(calc(var(--i) * 72deg)) translate(250px) rotate(0deg);
  }
  to {
    transform: rotate(calc(var(--i) * 72deg + 360deg)) translate(250px) rotate(0deg);
  }
}