html, body{background-color: rgb(44, 44, 44); overflow: hidden;}

#menu_bar{
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
    z-index: 9999;
}
#menu_logo{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.182);
    border: 1px solid white;
    border-radius: 50%;
    transition: .3s ease-in-out;
}
#menu_logo:hover{
    border-radius: 10px;
    width: 80px;
    transition: .3s ease-in-out;
}
#menu_house_name{
    color: white;
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.182);
    border: 1px solid white;
    border-radius: 10px;
    transition: .3s ease-in-out;
    cursor: default;
}
.menu-icon{
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.182);
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: default;
}
#head{
    width: 10000px;
    max-width: 1500px;
    height: 800px;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    overflow: hidden;
}
#head img{
    width: 100%;
    height: 100%;

}
#container-info{
    width: 300px;
    height: 400px;
    background-color: red;
    position: absolute;
    bottom: 15%;
    right: 4%;
    border-radius: 10px;
}
#container-info img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#head-info-container{
    width: 300px;
    height: 250px;
    background-color: white;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-radius: 10px;
    display: grid;
}
#Recent-similar-real-estate{
    width: 450px;
    height: 250px;
    background-color: white;
    position: absolute;
    bottom: 15%;
    left: 5%;
    border-radius: 15px;
    display: grid;
}
#Recent-similar-real-estate h1{
    font-weight: 300;
    position: relative;
    left: 30px;
}
#Recent-similar-real-estate p{
    font-weight: 300;
    position: relative;
    left: 30px;
    bottom: 40px;
    color: rgba(128, 128, 128, 0.87);
}
#rs-icon-container{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    bottom: 30px;
}
.rs-icon{
    width: 100px;
    height: 30px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
#rsi-1,#rsi-2{
    width: 130px;
}
#rs-search{
    width: 85%;
    height: 30px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 176, 104);
    bottom: 10px;
    border-radius: 15px;
}